In [11]:
import pandas as pd
import seaborn as sns

In [ ]:
sns.set(style="whitegrid")

In [3]:
df = pd.read_pickle('event.pkl')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333980 entries, 0 to 3333979
Data columns (total 19 columns):
 #   Column                     Dtype
---  ------                     -----
 0   report_number              int64
 1   date_reported              object
 2   date_occurred              object
 3   time_occurred              object
 4   area_code                  category
 5   report_district_number     int64
 6   crime_part                 bool
 7   crime_codes                category
 8   mocodes                    category
 9   victim_age                 uint8
 10  victim_sex                 bool
 11  victim_descent             category
 12  premises_code              category
 13  weapon_code                category
 14  status_code                category
 15  number_of_crimes           uint8
 16  is_victim_descent_missing  bool
 17  is_victim_sex_missing      bool
 18  is_victim_age_missing      bool
dtypes: bool(5), category(7), int64(2), object(3), uint8(2)
memory usage: 181.2+ MB

In [ ]:
df.date_reported = pd.to_datetime(df.date_reported)
df.time_occurred = pd.to_datetime(df.time_occurred)

In [14]:
df_filtered = df.drop_duplicates(subset='report_number').drop(columns='report_number')
df_filtered

,date_reported,date_occurred,time_occurred,area_code,report_district_number,crime_part,crime_codes,mocodes,victim_age,victim_sex,victim_descent,premises_code,weapon_code,status_code,number_of_crimes,is_victim_descent_missing,is_victim_sex_missing,is_victim_age_missing
0,2020-02-09,2020-02-08,18:00,1,182,True,330.0,1822,47,True,O,128.0,0.0,IC,2,False,False,False
6,2020-11-11,2020-11-04,17:00,3,356,True,480.0,0344,19,True,X,502.0,0.0,IC,1,False,True,False
8,2023-05-10,2020-03-10,20:37,9,964,True,343.0,0325,19,True,O,405.0,0.0,IC,1,False,False,False
10,2020-07-07,2020-07-07,13:40,2,265,True,648.0,0329,30,False,X,101.0,0.0,IC,2,False,True,True
18,2020-03-02,2020-03-01,14:30,4,407,True,310.0,0344,27,True,W,221.0,0.0,IC,1,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3333966,2025-01-25,2025-01-24,12:40,10,1008,True,331.0,1822,68,True,O,108.0,0.0,IC,1,False,False,False
3333969,2025-01-17,2025-01-17,16:00,17,1774,False,624.0,0400,17,True,H,721.0,400.0,IC,1,False,False,False
3333973,2025-02-02,2025-01-30,17:30,11,1101,True,330.0,0344,32,False,H,109.0,0.0,IC,1,False,False,False
3333976,2025-01-19,2025-01-17,15:30,21,2114,True,341.0,0344,40,True,W,720.0,0.0,IC,1,False,False,True
3333977,2025-01-14,2025-01-14,12:50,5,509,True,210.0,1822,15,False,H,721.0,400.0,IC,1,False,False,False